{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
<script src="{{ url_for('static', filename='js/account.js') }}"></script>
<title>Myflix Account</title>
{% endblock %}

{% block body %}

<div class="centered-content">
    <a href="/home" class="btn btn-danger">Just get me to home</a>
    <div id="form" onsubmit="handleSubmit(event)">
        <form id="loginSignupForm" method="POST">
            <div id="loginFields">
                <button type="button" class="btn btn-danger disabled" onclick="toggleForm()">Login</button>
                <button type="button" class="btn btn-outline-danger" onclick="toggleForm()">Sign up</button>
                <div class="form-group">
                    <label for="InputLoginEmail">Email address</label>
                    <input type="email" class="form-control" id="InputLoginEmail" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-danger">Login</button>
            </div>

            <div id="signupFields" style="display:none;">
                <button type="button" class="btn btn-outline-danger" onclick="toggleForm()">Login</button>
                <button type="button" class="btn btn-danger disabled" onclick="toggleForm()">Sign up</button>
                <div class="form-group">
                    <label for="InputFirstName">First Name</label>
                    <input type="text" class="form-control" id="InputFirstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="InputLastName">Last Name</label>
                    <input type="text" class="form-control" id="InputLastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="InputSignUpEmail">Email address</label>
                    <input type="email" class="form-control" id="InputSignUpEmail" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="InputSignUpPassword">Password</label>
                    <input type="password" class="form-control" id="InputSignUpPassword" onkeyup='check();'
                        placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="InputRepeatPassword">Repeat Password</label>
                    <input type="password" class="form-control" id="InputRepeatPassword" onkeyup='check();'
                        placeholder="Repeat Password">
                    <span id='message'></span>
                </div>
                <button type="submit" class="btn btn-danger">Sign up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}