{% extends 'base.html' %}

{% block head %}
<title>Myflix Home</title>
{% endblock %}

{% block body %}
<div class="container-fluid mb-2">
    <div class="col-1 mx-auto"><a class="btn btn-danger" href="/logout">Logout</a></div>
    <div class="row">
        <!-- Left Half -->

        <div class="col-3 mx-auto">
            <h2>Movies on Myflix</h2>
            {% for movie in movies %}
            <a href="{{ url_for('select_movie',movie_id=movie.title,movie_file=movie.mp4File)}}">
                <div class="card mb-2 bg-secondary" style="width: 18rem;">
                    <img class="card-img-top" src="../static/images/bbb.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text ">{{movie.title}}<br>Length:{{movie.length}}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <!-- Right Half -->
        <div class="col-3 mx-auto">
            <h2>Recommended for you</h2>
            {% for movie in recommendations %}
            <h3 class="text-danger">{{movie.movieId}}</h3>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}